:root {
    --yellow: #F5C32C;
    --orange: #EBA309;
    --black: #242D49;
    --gray: #788097;
    --blueCard: #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);
}

.button {
    color: white;
    border: none;
    border-radius: 34px;
    font-size: 1rem;
    padding: 4px 8px 4px 8px;
    background: linear-gradient(180deg, #edc618 20.71%, #ec7615 95.36%);
    box-shadow: 0px 18px 20px 3px rgba(23, 210, 60, 0.42);
}

.button:hover {
    background: #fff;
    cursor: pointer;
    color: var(--orange);
    border: 1px solid var(--orange);
}

@media screen and (max-width:480px) {
    .App {
        padding: 0.5rem 1rem;
    }
}